.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);


}
.serach-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;

  align-items: center;

}
.search-bar{
  width: 50%;
  border:none;
  padding: 10px;
}

.search-button{
  background: #fda34b;

  border: none;
  padding: 10px 20px;
  color: white;

}

.recipes{
  display: flex;
  justify-content:  space-around;
  flex-wrap: wrap;
}